:root {
  --button-color: rgb(21, 179, 165);
  --hover-color: rgb(150, 248, 240);
  --border-color: rgb(0, 4, 255);
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 5px;
}

header {
  padding: 1%;
  /* border: solid 2px var(--border-color); */
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2%;
}

nav {
  padding: 1%;
  /* border: solid 2px var(--border-color); */
  color: var(--button-color);
}
nav:hover {
  cursor: pointer;
  color: var(--border-color);
}
header h4 {
  padding: 1%;
  /* border: solid 2px var(--border-color); */
  font-weight: normal;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  /* border: solid 2px var(--border-color); */
  margin: 2% 15%;
}
#start-point {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* border: solid 2px var(--border-color); */
}
#start-point-p {
  text-align: center;
  font-weight: bold;
}
#quiz-heading {
  text-align: center;
}
h1 {
  padding: 2%;
  /* border: solid 2px var(--border-color); */
  font-size: 200%;
  width: 100%;
}

h2 {
  padding: 2%;
  width: 100%;
  /* border: solid 2px var(--border-color); */
  font-size: 175%;
}

#quiz-template {
  width: 100%;
  display: none;
  flex-direction: column;
  /* border: solid 2px var(--border-color); */
}

.column {
  /* border: solid 2px var(--border-color); */
  display: flex;
  flex-direction: column;
}

button {
  width: fit-content;
  text-align: left;
  background-color: var(--button-color);
  padding: 2%;
  margin: 2px;
  /* border: solid 2px var(--border-color); */
  border-radius: 5%;
  font-size: 125%;
  height: fit-content;
  transition: all 0.2s ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

p {
  /* border: solid 2px var(--border-color); */
  padding: 2%;
  width: 100%;
  font-size: 125%;
}

#correct-wrong {
  border-top: 2px solid black;
  display: none;
  color: rgba(55, 55, 55, 0.5);
  font-style: italic;
  font-size: 1.5vw;
  /* border: 5px solid var(--border-color); */
}

#all-done {
  display: none;
  flex-direction: column;
  width: 100%;
  /* border: solid 2px var(--border-color); */
}

label {
  margin: 2%;
}

span {
  padding: 20px;
  /* border: 2px solid var(--border-color); */
}

#high-scores {
  /* border: 2px solid var(--border-color); */
  display: none;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
